
.note {
	border-bottom: 1px solid #e0e0e0;
	margin: 0;
	padding: 16px 16px 8px;
	transition: background-color 350ms ease-in-out;

	&:last-of-type {
		border-bottom: 0;
	}
}

.note-new {
	background-color: lighten( #d54e21, 50% );
}

.note-author {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
}

.note-author__avatar {
	margin-right: 0.5rem;
}

.note-author__name {
	font-weight: 700;
}

.note-timestamp {
	font-style: italic;
}
