
.wporg-internal-notes__note {
	border-bottom: 1px solid #e0e0e0;
	margin: 0;
	padding: 16px 16px 8px;

	> * {
		transition: opacity 500ms ease-out;
	}

	&:last-of-type {
		border-bottom: 0;
	}

	.components-button {
		height: auto;
		width: auto;
	}
}

.is-created,
.is-deleted {
	> * {
		opacity: 0;
	}
}

.wporg-internal-notes__note-button-delete {
	opacity: 0;
	transition: opacity 300ms ease-in-out;

	.wporg-internal-notes__note:hover & {
		opacity: 100;
	}
}

.wporg-internal-notes__note-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.wporg-internal-notes__note-author {
	display: flex;
	align-items: center;
	margin: 0 0 0.5rem;
}

.wporg-internal-notes__note-author-avatar {
	margin-right: 0.5rem;
}

.wporg-internal-notes__note-author-name {
	font-weight: 700;
	word-break: break-word;
}

.wporg-internal-notes__note-date {
	display: block;
	margin: 0.5rem 0;
	font-style: italic;
}
