
.wporg-internal-notes-sidebar__icon {
	margin-left: 3px;
}

.note-count {
	display: inline-block;
	font-size: 0.85em;
	min-width: 1.85em;
	padding: 0.3em;
	border-radius: 1em;
	color: #ffffff;
	background-color: var(--wp-admin-theme-color-darker-10);
	transition: background-color 0.1s ease-in;

	.components-button:hover & {
		background-color: var(--wp-admin-theme-color);
	}
}
